# A statistical Approach 

i am documenting my statistic journey using the book Think Stats By Allen B. Downey
this is the github repo where you can get the data for used in this book https://github.com/AllenDowney/ThinkStats2/tree/master

1. Data Collection:Data collection is the process of gathering and measuring information on variables of interest in a systematic and organized manner. It involves the collection of data points or observations to support research, analysis, or decision-making.


2. Descriptive Statistics: Descriptive statistics involves the use of numerical and graphical methods to summarize and describe the main features of a dataset. This includes measures such as mean, median, mode, range, variance, and standard deviation. Descriptive statistics help in simplifying large amounts of data and making it more understandable.


3. Exploratory Data Analysis (EDA): Exploratory Data Analysis is an approach to analyzing data sets to summarize their main characteristics, often with the help of statistical graphics and other data visualization methods. The primary goal is to gain insights, identify patterns, and generate hypotheses that can inform further analysis or research.


4. Estimation: Estimation in statistics refers to the process of using sample data to make inferences about the characteristics of a population. It involves estimating population parameters, such as means or proportions, based on sample statistics. Common methods of estimation include point estimation and interval estimation.


5. Hypothesis Testing: Hypothesis testing is a statistical method used to make inferences about a population based on a sample of data. It involves formulating a hypothesis about a population parameter, collecting and analyzing data, and then using statistical tests to assess the evidence against or in favor of the hypothesis. The goal is to make decisions about whether to accept or reject a null hypothesis in favor of an alternative hypothesis.

The data used in this study, according to Allen B. Downey, is sourced from the National Survey of Family Growth (NSFG) Cycle 6, conducted from January 2002 to March 2003. Notably, the NSFG adopts a cross-sectional study design, providing a snapshot of a specific group at a particular moment in time,  as opposed to longitudinal studies that observe a group over time.

objectivess: data aims to draw conclusions about the U.S. population aged 15-44. Ideally, surveys would collect data from every individual, but this is challenging. Instead, data is collected from a subset, called a sample, with participants referred to as respondents.

Cross-sectional studies aim for representativeness, ensuring every member of the target population has an equal chance of participating. However, achieving perfect representation is difficult. so the  NSFG intentionally oversamples three groups
1. Hispanics, 
2. African-Americans, and
3. teenagers to ensure enough data for valid statistical inferences within these categories.

the dataset downloaded was stored in a  stata dictionary file and a  fixed width data file called '2002FemResp.dct', and '2002FemResp.dat.gz' respectively , they are two seperate modules that was imported for each task in this owrk, think stats 2 and think plot , this python module contain some already pre defined function and classes for this work . this dataset was already cleaned in the first notebook, so this is the data after cleaning

In [1]:
import sys
import numpy as np
import thinkstats2
import thinkplot

In [2]:
import nsfg
df = nsfg.ReadFemPreg()
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [3]:
df.tail()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.69288,6269.200989,1,78,NaN,6.1875
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.69288,6269.200989,1,78,NaN,NaN
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.69288,6269.200989,1,78,NaN,NaN
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.69288,6269.200989,1,78,NaN,7.5000
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.69288,6269.200989,1,78,NaN,7.5000

In [4]:
df.shape # we have 13593 rows of data and 244 columns in this data

(13593, 244)

In [5]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [6]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

caseid represents the respondent's unique identifier, expressed as an integer.

prglngth is an integer indicating the duration of the pregnancy in weeks.

outcome is an integer code signifying the pregnancy outcome; specifically, 1 denotes a live birth.

pregordr stands for pregnancy order, assigned a serial number where the first pregnancy is coded as 1, the second as 2, and so forth.

birthord is a serial number for live births; the first child of a respondent is coded as 1. This field remains blank for outcomes other than live birth.

birthwgt_lb and birthwgt_oz denote the birth weight of the baby, with pounds and ounces specified separately.

agepreg represents the mother's age at the conclusion of the pregnancy.

finalwgt is a floating-point value serving as the statistical weight linked to the respondent. It indicates the number of individuals in the U.S. population that this respondent represents.